/*一點修改的CSS*/
.set-font-family {
    font-family: 微軟正黑體;
}

.deep-font-colour {
    color: #1d1d1d;
    font-weight: bold;
}

.form-control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.nice-select {
    font-family: 微軟正黑體;
    font-weight: normal;
    border-radius: 0;
}

section span {
    font-size: 1.1em;
    color: #000000;
    font-weight: 400;
    position: relative;
    top: -5px;
}

li,
button,
input[type='submit'],
span {
    font-family: 微軟正黑體;
}

.login-page .form-holder .info {
    background: #242424;
    color: #fff;
}

.btn-dark {
    color: #fff;
    background-color: #242424;
    border-color: #242424;
}

.btn {
    border-radius: 0;
}

input.input-material ~ label.active {
    color: #2b0267;
}

.warning {
    color: red;
}

.hide {
    display: none;
}





