/* -------------------------------- 

自訂圖片CSS

-------------------------------- */
.AtvImg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    float: left;
    margin-right:18px;
    /*margin-top:15px;*/
}


/* -------------------------------- 

Primary style #796AEE

-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "Droid Serif", serif;
    color: #7f8c97;
    background-color: #e9f0f5;
}

a {
    color: #acb7c0;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

h1, h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
/*---------------------------------
    背景色陣列
-----------------------------------*/
.color1 {
    background-color:rgb(254,189,43);
}

.color2 {
    background-color: rgb(250,133,29);
}

.color3 {
    background-color: rgb(235,86,80);
}




/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

    .cd-container::after {
        /* clearfix */
        content: '';
        display: table;
        clear: both;
    }

/* -------------------------------- 

Main components 

-------------------------------- */
/*會讓master黑色區塊位置跑掉,註解起來*/
/*header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}*/

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

    #cd-timeline::before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: rgb(127,127,127);
        /*timeline color*/
    }

/*timeline上方空間*/
@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 1em;
        margin-bottom: 3em;
    }
        /*timeline實線位置*/
        #cd-timeline::before {
            left: 20%;
            margin-left: -2px;
            color: #796AEE;
        }
}

.cd-timeline-block {
    position: relative;
    margin-right: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

    .cd-timeline-block:after {
        content: "";
        display: table;
        clear: both;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }

        .cd-timeline-block:first-child {
            margin-top: 0;
        }

        .cd-timeline-block:last-child {
            margin-bottom: 0;
        }
}
/*icon外圈顏色*/



.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px 4px var(--rgb-color), inset 3px 2px 5px var(--rgba-color1), 0 3px 0 4px var(--rgba-color2);
}

.cd-timeline-img-color1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px 4px rgb(106,123,149), inset 3px 2px 5px rgba(106,123,149,0.08), 0 3px 0 4px rgba(106,123,149, 0.05);
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
    .cd-timeline-img img {
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        left: 38%;
        top: 38%;
        margin-left: -12px;
        margin-top: -12px;
    }

.cd-timeline-img.cd-all {
    background: #F5F5F5;
    --rgb-color: rgb(106,123,149);
    --rgba-color1: rgba(106,123,149,0.08);
    --rgba-color2: rgba(106,123,149, 0.05);
    /*--rgb-color: rgb(255,165,0);
    --rgba-color1: rgba(255,165,0,0.08);
    --rgba-color2: rgba(255,165,0,0.05);*/
    /*主題色#796AEE*/
    /*淡綠色#F0FFF0*/
    /*title/icon陰影色rgb(106,123,149)*/
    /*icon色rgb(84,96,122)*/
}
    
@media only screen and (min-width: 1170px) {
    /*timeline上的icon位置*/
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 20%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.5em;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
    top: 0px;
    left: 0px;
}

/*自訂title區塊*/
.cd-timeline-content-title {
    position: absolute;
    /*float: right;*/
    left: 0%;
    top: 0%;
    margin-left: 0;
    padding-top: 1em;
    padding-left: 1.6em;
    width: 100%;
    height: 2.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-color: rgb(106,123,149);
}

    .cd-timeline-content:after {
        content: "";
        display: table;
        clear: both;
    }

    .cd-timeline-content h2 {
        color:white;
        /*#303e49*/
    }

    .cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 13px;
        font-size: 0.8125rem;
    }

    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        display: inline-block;
    }

    .cd-timeline-content p {
        margin-top: 3.5em;
        line-height: 1.6;
    }

    .cd-timeline-content .cd-read-more {
        float: right;
        padding: .8em 1em;
        background: #acb7c0;
        color: white;
        border-radius: 1em;
    }

.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}

.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}
/*縮小螢幕小三角形*/
.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid rgb(106,123,149);
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }

    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }

    /*自訂title區塊*/
    .cd-timeline-content-title {
        position: absolute;
        /*float: right;*/
        left: 0%;
        top: 0%;
        margin-left: 0;
        padding-top: 1em;
        padding-left: 1.6em;
        width: 100%;
        height: 3em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        background-color: rgb(106,123,149);
    }
}

@media only screen and (min-width: 1170px) {
    /*原本左邊的樣式註解不使用*/
    /*.cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }*/

    /*even改掉改成全部card的樣式,在右邊*/
    .cd-timeline-content {
        float: right;
        left: -15%;
        margin-left: 0;
        padding-top: 1em;
        padding-bottom: 1.6em;
        padding-left: 1.6em;
        padding-right: 1.6em;
        width: 60%;
        --triangleColor: rgb(106,123,149);
    }

    /*自訂title區塊*/
    .cd-timeline-content-title {
        position: absolute;
        /*float: right;*/
        left: 0%;
        top: 0%;
        margin-left: 0;
        padding-top: 1em;
        padding-left: 1.6em;
        width: 100%;
        height: 3em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        background-color: rgb(106,123,149);
    }
    /*小三角形*/
    .cd-timeline-content::before {
        top: 24px;
        right: 100%;
        border-color: transparent;
        /*border-right-color: rgb(106,123,149);*/
        border-right-color: var(--triangleColor);
    }

        .cd-timeline-content .cd-read-more {
            float: right;
        }
        /*時間修改顯示位置*/
    .cd-timeline-content .cd-date {
        /*float: left;*/
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        color: rgb(93,105,138);
        left: -40%;
        top: 0%;
        right: 10%;
        width: 30%;
        text-align: left;
    }

    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    /*.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }*/
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
